@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    
    font-family: 'Ibarra Real Nova', serif;
}
#mySidenav a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #038a59;
}

#about {
  top: 80px;
  background-color: #003f72;
}

#projects {
  top: 140px;
  background-color: #c3a903;
}

#contact {
  top: 200px;
  background-color: rgb(59, 59, 59);
}

.right-side-section {
  text-align: center;
  width: 98vw;
  height: 100vh;
  background-color: azure;
}

.aboutme-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 5px;
}

.left-side {
  width: 30vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 150px;
  padding: 13px;
}

.right-side,
.middle-side,
.left-side {
  border: 2px solid gainsboro;
}
.right-aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 13px;
  margin-right: 110px;
  padding: 13px;
}
.project-gallery-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  padding: 11px;
  height: 80vh;
}

.project-gallery-container > div {
  /* color: #fff; */
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
  margin-left: 95px;
  /* border: 2px steelblue solid; */
  border-radius: 3px;
  
}
/* .item1 {
  grid-row: 1 / span 3;
  grid-column-start: 2;
  background-image: url("./images/fruit_shop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.item2{
  background-image: url("./images/tribute.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

} */
/* .item3{
    background: url("./images/gallery.jpg")top left / cover no-repeat;
} */

.item1{
    grid-row: 1 / span 2;
    grid-column-start: 2;
    /* border: 2px solid #000067; */
    
}
.item1 .item1_two_side p{
    text-align: justify;
    padding: 7px;
}
.item3, .item2, .item4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.item3 img, .item2 img, .item4 img{
    width: 250px;
    height: 200px;
}
.item1 img {
    width: auto;
    height: 350px;
}
.two_side p{
    color: #00004d;
    padding: 0px 8px 0px;
    text-align: justify;
    
}
/* .item4{
    background: url("./images/comment_box.jpg")top left / cover no-repeat;
} */

/* .project-gallery-container >div:hover{
    opacity: 0.4;
        
} */

.typing_container{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    align-content: center;
    
}
.wrapper{
    width: 59vw;
    height: 85vh;
}
.name{
    color: dodgerblue;
    
}

#typing_effect{
    font-size: 3.5rem;
    font-family: 'Ibarra Real Nova', serif;
    letter-spacing: 3px;
    word-spacing: 2px;    
    color: #1B1212;
    padding-top: 1rem;
    animation: blink .90s step-end infinite;
    text-align: justify;
    
  
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		color: #FF5733 ; 
	}
}

.fa{
    color: #301934;
    letter-spacing: 3rem;
    font-size: 25px;
        
}
.repo:hover {
    color: gold;

}

.link:hover{
    color: magenta;

}
.github_wrapper{
    width: 50px;
    height: auto;
    margin-top: -17rem;
    
}
.github_link{
    font-size: 1.2rem;
    /* font-family: 'Waiting for the Sunrise', cursive; */
    font-family: 'Jim Nightshade', script;
    letter-spacing: 0.3rem;
    line-height: 2rem;
    text-align: left;
    
}
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
  }
  
.display_quotes p{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 2.2rem;
    
}
.display_quotes p::before, .display_quotes p::after{
    content: ' ❈ ✴  ';   
    color: #ff7518;
    font-size: 1.7rem;
    
}
samp{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #9F2B68;
    font-weight: bold;
}
.socialIcons{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
.social{
    font-size: 3rem;
}

code{
    
    font-size: 2.3rem;
    color:dodgerblue;
    
    
   
}  